@model Simulacao.Models.QuestaoViewModel

@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @Html.ActionLink("Back", "listarPerguntas", "Questao", new {idCourse = @Model.Course.idCourse, idSubarea = @Model.Questao.idSubarea}, new { @class="btn btn-default"})
                <p></p>
                @using (Html.BeginForm("UpdateQuestao", "Questao", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" })) {
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @Html.HiddenFor(q => q.Questao.idQuestao)
                    @Html.HiddenFor(q => q.Questao.idArea)
                    @Html.HiddenFor(q => q.Questao.idSubarea)
                    <div class="form-group">
                        <label class="col-md-12">Course</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="@Model.Course.CourseName" class="form-control form-control-line" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Area</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="@Model.Area.NomeArea" class="form-control form-control-line" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Subarea</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="@Model.Subarea.NomeSubarea" class="form-control form-control-line" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" asp-for="Questao.Pergunta"></label>
                        <div class="col-md-12">
                            <input asp-for="Questao.Pergunta" type="text" class="form-control form-control-line">
                            <span asp-validation-for="Questao.Pergunta" class="text-danger"></span>
                        </div>
                    </div>
                    <button onclick="return confirm('Are you sure you want to update the question?');" type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                    <p></p>
                    <a href="@Url.Action("inserirResposta", "Resposta", new {idQuestao = @Model.Questao.idQuestao})" type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Add Answer</a>
                    <p></p>
                    <table class="table table-bordered table-striped" align="center">
                        <tr class="tb-titulo-azul-branco text-center"><th colspan="4">Answers</th></tr>
                        @foreach (var resposta in this.Model.Respostas) {
                            <tr>
                                <td style="background-color: white">@resposta.NomeResposta</td>
                                <td style="background-color: white" class="text-center">@Html.ActionLink("Ver Detalhes", "VerResposta", "Resposta", new { idResposta = @resposta.idResposta}, new { @class="btn btn-primary"})</td>
                                <td style="background-color: white" class="text-center">@Html.ActionLink("Editar", "GetRespostaToUpdate", "Resposta", new { idResposta = @resposta.idResposta}, new { @class="btn btn-warning"})</td>
                                <td style="background-color: white" class="text-center">@Html.ActionLink("Excluir", "DeletarResposta", "Resposta", new { idResposta = @resposta.idResposta}, new { @class="btn btn-danger", onclick="return confirm('Tem certeza que deseja excluir a resposta?');"})</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>